<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <a class="header-logo" href="/">
          PM
        </a>
      </div>
      <nav>    
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Start</a>
          </li>
          <li>
            <a href="/blog/">Klaaf & Tratsch</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>