---
title: Klaaf un Tratsch - Molinero
layout: 'base.njk'
---
    
<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Tach zesamme!</h1>
        <p>Hier gibt's Stories und Eindrücke über mein Leben am Klong.</p>
        <p>Unten findet ihr einige meiner favorisierten Artikel, oder ihr geht auf die Blog-Seite, um die neuesten Beiträge zu lesen.</p>
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--primary">Janz besonders doll</a>
          <a href="./blog" class="btn btn--neutral">Letzte Beiträge</a>
        </div>
      </div>
      <div>
        <img src="./assets/Bangkok_Image.png" alt="" class="hero__image">
      </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Janz besonders dolles Verzäll</h2>
    <p class="text-center">Auszug einiger Eindrücke im Überblick</p>
    <ul role="list" class="articles__list flow">

    {%- for post in collections.featured | reverse -%}
      {% include 'article-snippet.njk' %}
    {%- endfor -%}

    </ul>
  </div>
</section> 